﻿<!DOCTYPE html>
<html>
<head>
    <title>TOMA Questionnaire</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="fedtom_TOMA_QuestionnaireResponse.js"></script>
    <style>
        .events {
            margin: 5px 20px;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            border-top: 1px solid #ffffff;
        }

        .table {
            margin-bottom: 5px;
        }

        .panel-group .panel-heading {
            background-color: #f5f5f5;
        }

        .custBtn {
            background-color: #5bc0de;
            padding: 4px 3px;
            color: #333;
            margin: 1px;
            padding: 2px 3px;
            border: 1px solid #b5b5b5;
            border-bottom-color: #7f7f7f;
            background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top;
            font-weight: bold;
            font-size: .9em;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
        }
    </style>
    
</head>
<body style="margin-left:15px;margin-right:15px; font-size:11px;background-color: #f1f3f6;" class="events" ng-app="MyApp">
    <div ng-controller="Questionnaires">
        
        <div class="events" id="dvView">
            <div>
                <!--<div style="padding: 15px;">
                    <span><b>Survey :</b> {{SurveyName}}</span>
                </div>-->
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#33495E;color: #fff;  font-size:16px">
                        Questionnaire Response
                        <!--<div class="pull-right">
                            <span style="font-weight:initial;    padding-right: 40px;" ng-if="IsActive == true">Active</span>
                            <span style="font-weight:initial;    padding-right: 40px;" ng-if="IsActive == false">Deactivate</span>
                        </div>-->
                    </div>
                    <div class="panel-group" id="accordionView">
                        <div class="panel panel-default">
                            <div ng-repeat="question in QuestionList">
                                <div class="panel-heading events">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionView" href="#collapseview{{question.index}}">
                                            <span class="glyphicon glyphicon-question-sign">
                                            </span> {{question.index}}. {{question.questiontext}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseview{{question.index}}" ng-class="question.collapsecls">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12" style="padding-left: 50px;">
                                                <table class="table">
                                                    <tbody ng-if="question.questiontype == 3 || question.questiontype == 4">
                                                        <tr>
                                                            <td>
                                                                <span style="float:right"><b>Question Type : </b> {{question.questiontypename}}</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody ng-if="question.questiontype != 3 || question.questiontype != 4">
                                                        <tr ng-if="question.option1show == true">
                                                            <td>
                                                                . {{question.option1txt}}
                                                                <span style="float:right"><b>Question Type : </b> {{question.questiontypename}}</span>
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option2show == true">
                                                            <td>
                                                                . {{question.option2txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option3show == true">
                                                            <td>
                                                                . {{question.option3txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option4show == true">
                                                            <td>
                                                                . {{question.option4txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option5show == true">
                                                            <td>
                                                                . {{question.option5txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option6show == true">
                                                            <td>
                                                                . {{question.option6txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option7show == true">
                                                            <td>
                                                                . {{question.option7txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option8show == true">
                                                            <td>
                                                                . {{question.option8txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option9show == true">
                                                            <td>
                                                                . {{question.option9txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option10show == true">
                                                            <td>
                                                                . {{question.option10txt}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
