﻿<!DOCTYPE html>
<html>
<head>
    <title>TOMA Questionnaire</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="fedtom_TOMA_QuestionnaireCRUD.js"></script>
    <style>
        .events {
            margin: 5px 20px;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            border-top: 1px solid #ffffff;
        }

        .table {
            margin-bottom: 5px;
        }

        .panel-group .panel-heading {
            background-color: #f5f5f5;
        }
        .custBtn{                
                background-color: #5bc0de;
                padding: 4px 3px;
                color: #333;
                margin: 1px;
                padding: 2px 3px;
                border: 1px solid #b5b5b5;
                border-bottom-color: #7f7f7f;
                background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top;
                font-weight: bold;
                font-size: .9em;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
           }
        .center-block {
    display: block;
    margin-right: 15px;
    margin-left: 15px;
}
    </style>
    <script>
        function FilterTemplate() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("txtTemplateSearch");
            filter = input.value.toUpperCase();
            table = document.getElementById("modeltblTP");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function IsNumberKey(evt, id) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            else {
                var len = id.value.length;
                var index = id.value.indexOf('.');
                if (index > 0 && charCode == 46) {
                    return false;
                }
                if (index > 0) {
                    var CharAfterdot = (len + 1) - index;
                    if (CharAfterdot > 3) {
                        return false;
                    }
                }
            }
            return true;
        }
    </script>
</head>
<body style="margin-left:15px;margin-right:15px; font-size:11px;background-color: #f1f3f6;" class="events" ng-app="MyApp">
    <div ng-controller="Questionnaires">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <!--<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">SELECT VEHICLE CONTACTS</h4>
                </div>-->
                    <div class="modal-body">
                        <div class="row modal-header">
                            <div class="col-sm-12 col-md-9">
                                <h5>EMAIL TEMPLATE NAME</h5>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <input type="text" id="txtTemplateSearch" class="form-control" onkeyup="FilterTemplate()" placeholder="Search template" title="Type in a name">
                            </div>
                        </div>
                        <div style="height:250px; overflow-y:auto; width: 100%;">
                            <table class="table" id="modeltblTP">
                                <thead>
                                    <tr class="slds-text-heading--label active">
                                        <th style="width:20px;"><input type="checkbox" id="chkAll" ng-model="allTemplatesSelected" ng-change="selectAllTemplate()"></th>
                                        <th><span class="slds-truncate">TEMPLATE NAME</span></th>
                                        <th><span class="slds-truncate">DESCRIPTION</span></th>
                                    </tr>
                                </thead>
                                <tbody class="table text-font">
                                    <tr ng-repeat="template in TemplateList" ng-class="{selected: top.isChecked}">
                                        <td class="tdClass">
                                            <div>
                                                <input type="checkbox" id="chk_{{template.index}}" class="chkRow" ng-model="template.isChecked" ng-change="selectTemplate()">
                                            </div>
                                        </td>
                                        <td class="tdClass">
                                            {{template.title}}
                                        </td>
                                        <td class="tdClass">
                                            {{template.description}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <!--style="background-color: rgb(243, 242, 242);"-->
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-primary" ng-click="AddTemplate()">Add Template</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div ng-show="dvView">
            <div class="row">
                <div class="events">
                    <div class="col-sm-12 col-md-2">
                        <span style="color:red">*</span> Survey :
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <input type="text" id="txtServey" class="form-control" ng-model="SurveyName" placeholder="Enter servey name" title="Type in a name">
                    </div>
                    <div class="col-sm-12 col-md-1">
                        Is Active :
                    </div>
                    <div class="col-sm-12 col-md-1">
                        <input type="checkbox" id="chkIsActive" ng-model="IsActive">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="events">
                    <div class="col-sm-12 col-md-2">
                        Description :
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <input type="text" id="txtDescription" class="form-control" ng-model="Description" placeholder="Enter Description" title="Type Description">
                    </div>
                </div>

            </div>
        </div>
        <div class="events" id="dvCRUD" ng-show="dvView">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div ng-repeat="question in QuestionList">
                                <div class="panel-heading events">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{question.index}}">
                                            <span class="glyphicon glyphicon-question-sign">
                                            </span> {{question.index}}. Question
                                        </a>
                                        <button class="" style="float: right;" ng-if="question.delete == true" ng-click="DeleteQuestion(question)">X</button>
                                    </h4>
                                </div>
                                <div id="collapse{{question.index}}" ng-class="question.collapsecls">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <table class="table">
                                                    <tr>
                                                        <td>
                                                            Question {{question.index}}
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="question.questiontext" />
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="question.option1show == true">
                                                        <td>
                                                            {{question.option1}}
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="question.option1txt" />
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="question.option2show == true">
                                                        <td>
                                                            {{question.option2}}
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="question.option2txt" />
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="question.option3show == true">
                                                        <td>
                                                            {{question.option3}}
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="question.option3txt" />
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="question.option4show == true">
                                                        <td>
                                                            {{question.option4}}
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="question.option4txt" />
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="question.option5show == true">
                                                        <td>
                                                            {{question.option5}}
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="question.option5txt" />
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="question.option6show == true">
                                                        <td>
                                                            {{question.option6}}
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="question.option6txt" />
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="question.option7show == true">
                                                        <td>
                                                            {{question.option7}}
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="question.option7txt" />
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="question.option8show == true">
                                                        <td>
                                                            {{question.option8}}
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="question.option8txt" />
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="question.option9show == true">
                                                        <td>
                                                            {{question.option9}}
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="question.option9txt" />
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="question.option10show == true">
                                                        <td>
                                                            {{question.option10}}
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="question.option10txt" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-md-6">
                                                <table class="table">
                                                    <tr>
                                                        <td>
                                                            <span style="color:red">*</span> Question Type
                                                        </td>
                                                        <td>
                                                            <select class="form-control" ng-model="question.questiontype" ng-change="QuestionTypeChanged(question)">
                                                                <option value="0">Radio</option>
                                                                <option value="1">Checkbox</option>
                                                                <option value="2">Picklist</option>
                                                                <option value="3">Descriptive</option>
                                                                <option value="4">Text</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            Is Mandatory:
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" ng-model="question.ismandatory" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Sequence
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="text" style="width:50px" ng-model="question.sequence" onkeypress="return IsNumberKey(event, this)" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="question.addoption">
                                            <button class="btn btn-primary center-block" ng-click="AddOption(question)">Add Option</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="panel-heading events">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        <span class="glyphicon glyphicon-question-sign">
                                        </span> 2. Question
                                    </a>
                                    <button class="" style="float: right;">X</button>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table">
                                                <tr>
                                                    <td>
                                                        Question 1
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Option 1
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Option 2
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-md-6">
                                            <table class="table">
                                                <tr>
                                                    <td>
                                                        <span style="color:red">*</span> Question Type
                                                    </td>
                                                    <td>
                                                        <select class="form-control">
                                                            <option>Radio</option>
                                                            <option>Checkbox</option>
                                                            <option>Picklist</option>
                                                            <option>Descriptive</option>
                                                            <option>Text</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        Is Mandatory:
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Sequence
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" onkeypress="return IsNumberKey(event, this)"/>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button class="btn btn-primary center-block">Add Option</button>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <table style="margin:auto; width:18% !important">
                        <tr>
                            <td>
                                <button class="btn btn-primary center-block" ng-click="AddQuestion()">Add Question</button>
                            </td>
                            <td>
                                <button class="btn btn-primary center-block" ng-click="SaveRecords()">Save</button>
                            </td>
                            <td>
                                <button class="btn btn-primary center-block" ng-click="Refresh()">Cancel</button>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="events" id="dvView" ng-show="!dvView">
            <div>
                <div style="padding: 15px;">
                    <span><b>Survey :</b> {{SurveyName}}</span>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#33495E;color: #fff;  font-size:16px">
                        Questionnaire
                        <div class="pull-right">
                            <span style="font-weight:initial;    padding-right: 40px;" ng-if="IsActive == true">Active</span>
                            <span style="font-weight:initial;    padding-right: 40px;" ng-if="IsActive == false">Deactivate</span>
                        </div>
                    </div>
                    <div class="panel-group" id="accordionView">
                        <div class="panel panel-default">
                            <div ng-repeat="question in QuestionList">
                                <div class="panel-heading events">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionView" href="#collapseview{{question.index}}">
                                            <span class="glyphicon glyphicon-question-sign">
                                            </span> {{question.index}}. {{question.questiontext}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseview{{question.index}}" ng-class="question.collapsecls">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12" style="padding-left: 50px;">
                                                <table class="table">
                                                    <tbody ng-if="question.questiontype == 3 || question.questiontype == 4">
                                                    <tr>
                                                        <td>
                                                            <span style="float:right"><b>Question Type : </b> {{question.questiontypename}}</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody ng-if="question.questiontype != 3 || question.questiontype != 4">
                                                        <tr ng-if="question.option1show == true">
                                                            <td>
                                                                . {{question.option1txt}}
                                                                <span style="float:right"><b>Question Type : </b> {{question.questiontypename}}</span>
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option2show == true">
                                                            <td>
                                                                . {{question.option2txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option3show == true">
                                                            <td>
                                                                . {{question.option3txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option4show == true">
                                                            <td>
                                                                . {{question.option4txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option5show == true">
                                                            <td>
                                                                . {{question.option5txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option6show == true">
                                                            <td>
                                                                . {{question.option6txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option7show == true">
                                                            <td>
                                                                . {{question.option7txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option8show == true">
                                                            <td>
                                                                . {{question.option8txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option9show == true">
                                                            <td>
                                                                . {{question.option9txt}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="question.option10show == true">
                                                            <td>
                                                                . {{question.option10txt}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <table style="margin:auto; width:18% !important">
                                <tr>
                                    <td>
                                        <button class="btn btn-primary center-block" ng-click="EditView()">Edit</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary center-block" ng-click="DeleteQuestionnaire()">Delete</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary center-block" ng-click="Refresh()">Cancel</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#33495E;color: #fff; font-size:16px ">
                        Questionnaire Email Template
                        <div class="pull-right">
                            <!--<span style="font-weight:initial;    padding-right: 40px;" ng-if="IsActive == true">Active</span>-->
                            <button class="custBtn" style="float:right; width: 120px;" type="button" ng-click="GetTemplates()" data-toggle="modal" data-target="#myModal">
                                Add Template
                            </button>
                               
                            </div>
                        
                    </div>
                    <div>
                        <!--class="container"-->
                        <table class="table" id="tblCV">
                            <thead>
                                <tr class="slds-text-heading--label active">
                                    <th><span class="slds-truncate">Action</span></th>
                                    <th><span class="slds-truncate">Email Template Name</span></th>
                                    <th><span class="slds-truncate">Description</span></th>
                                </tr>
                            </thead>
                            <tbody class="table text-font">
                                <tr ng-repeat="emailtemplate in TOMAEmailTemplateList">
                                    <td class="tdClass">
                                        <div class="delCls">
                                            <a class="deletebtn editbtn" data-arg1="{{emailtemplate.index}}" data-id="{{emailtemplate.guid}}" id="del_{{emailtemplate.guid}}" style="float: left;" href="javascript:void(0);"
                                               ng-click="Delete(emailtemplate)">
                                                <img class="" src="fedtom_/images/MinusSign.png" style="max-width: 48px;">
                                            </a>
                                        </div>
                                    </td>
                                    <td class="tdClass">
                                        <div class="slds-truncate slds-show">
                                            {{emailtemplate.title}}
                                        </div>
                                    </td>
                                    <td class="tdClass">
                                        <div class="slds-truncate slds-show">
                                            {{emailtemplate.description}}
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>
